.jumbotron{
	text-align: center;
	width: 100%;
}
.selecionado{
	background-color: yellow!important;
}
footer{
	padding: 20px;
	text-align: center;
}
.titulo-home{
	text-align: center;
	text-transform: uppercase;
}
table{
	margin-top: 10px;
}
table tr h3{
	font-size: 20px;
	color: #666;
	text-align: center;
	text-transform: uppercase;
}
table tr p{
	font-size: 15px;
	color: #666;
	text-align: center;
}
form div{
	margin-top: 10px;
}
form button{
	margin-top: 10px;
}