.jumbotron{
	text-align: center;
	width: 100%;
	background-color: #fff;
}
footer{
	padding: 20px;
	text-align: center;
}
.titulo-home{
	text-align: center;
}
table{
	margin-top: 10px;
}
table tr h3{
	font-size: 20px;
	color: #666;
	text-align: center;
	text-transform: uppercase;
}
table tr p{
	font-size: 15px;
	color: #666;
	text-align: center;
}
form div{
	margin-top: 10px;
}
form button{
	margin-top: 10px;
}
nav a{
	color: #fff!important;
}

.move-mouse{
	background: rgba(0,0,0,0.5) repeat center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s linear 0s;
	z-index: 100;
}
.move-mouse.ativo{
	opacity: 1;
	visibility: visible;
}

.move-mouse .content{
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 400px;
	margin-left: -200px;
	padding: 40px;
	margin-top: -120px;
}
.move-mouse .content h3{
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.move-mouse .content a{
	margin-top: 25px;
}